<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="27"
    android:versionName="2.9.1"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    package="net.xq.appvrplayer"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">
    <uses-sdk
        android:minSdkVersion="34"
        android:targetSdkVersion="35"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature
        android:glEsVersion="0x30000"
        android:required="true"/>
    <permission
        android:name="net.xq.appvrplayer.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="net.xq.appvrplayer.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="freemme.permission.msa"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name="net.xq.appvrplayer.application.MyApplication"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:localeConfig="@xml/locales_config">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value=""/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official"/>
        <service
            android:name="net.xq.appvrplayer.ScreenRecord.ScreenRecorderService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaProjection"/>
        <service
            android:name="net.xq.appvrplayer.FloatingWindow.FloatingPlayerViewService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name="net.xq.appvrplayer.FloatingBall.FloatingBallService"/>
        <service
            android:name="net.xq.appvrplayer.FloatingWindow.FloatingPlayerAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="net.xq.appvrplayer.ui.activity.SpatialMainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="um.6a26c6becbfa6959515634b2"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.SettingsDrawer"
            android:name="net.xq.appvrplayer.ui.activity.SettingsActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.SettingsDrawer"
            android:name="net.xq.appvrplayer.ui.activity.CardboardSettingsActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.SettingsDrawer"
            android:name="net.xq.appvrplayer.ui.activity.HelpActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="net.xq.appvrplayer.ui.activity.PremiumActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="net.xq.appvrplayer.ui.activity.ControlModeActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/title_activity_qr_code_capture"
            android:name="com.google.cardboard.sdk.QrCodeCaptureActivity"
            android:exported="false"/>
        <activity
            android:label="@string/headset_detection_activity_title"
            android:name="com.google.cardboard.sdk.HeadsetDetectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="cardboard"/>
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="net.xq.appvrplayer.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false"/>
        <uses-native-library
            android:name="libOpenCL-car.so"
            android:required="false"/>
        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false"/>
    </application>
</manifest>
